.container {
  display: flex;
}

.right {
  float: right;
  width: 50%;
}

.left {
  float: left;
  width: 50%;
}

.marqueeText {
  display: inline-block;
  padding-right: 25px;
  color: black;
}

.test-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
